<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td>
          <a href="group/<%= group.id %>"> 
            <%= group.title %>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>