<div class="container">
  <div class="row justify-content-around">
    <% {
        'Revenues' => ['green', "R$ #{groups_finance_transactions.filter{|f| f.revenue? }.sum(&:real_amount)}"],
        'Expenses' => ['yellow', "R$ #{groups_finance_transactions.filter{|f| f.expense? }.sum(&:real_amount)}"],
        'Profit' => ['blue', "R$ #{sum_total_transactions(groups_finance_transactions)}"],
        'Average' => ['blue', "R$ #{(sum_total_transactions(groups_finance_transactions) / groups_finance_transactions.count).round(2)}"],
        'Total Transactions' => ['blue', groups_finance_transactions.count]
        }.each do |key, value|
    %>
      <div class="col">
        <div class="card bg-c-<%= value[0] %> order-card">
          <div class="card-block">
            <h6 class="m-b-20"><%= key %></h6>
            <span class="fs-3 fw-semibold"><%= value[1] %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>