<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td>
          <a href="tags/<%= tag.id %>">
            <%= tag.title %>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>